* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #000000;
    color: #00bfff;
    border: none;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #00bfff;
    border: none;
}

#workspaces button.active {
    background-color: #1a1a1a;
    color: #00ffff;
    border-bottom: 2px solid #00ffff;
}

#workspaces button.urgent {
    background-color: #ff0000;
    color: #ffffff;
}

#cpu, #memory, #network, #pulseaudio, #battery {
    padding: 0 10px;
    color: #00bfff;
}

#clock {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    padding: 0 10px;
    color: #00bfff;
}

#tray {
    padding: 0px;
    margin-top: -5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #1a1a1a;
}
